study-mule-opentelemetry-70-app/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="mainFlow" doc:id="77f82ca2-6584-4aa0-8411-42ee092086f0" >
		<http:listener doc:name="Listener" doc:id="dc65ce73-472e-4632-ab74-33ea744528ea" config-ref="HTTP_Listener_config" path="/*" outputMimeType="application/octet-stream"/>
		<file:write doc:name="req body log file" doc:id="93eeff33-350d-4bd9-9094-509ffa981906" path="#[(dw::Runtime::prop('user.dir') as String ) ++ '/' ++ Mule::p('myapp.httpreq.logfile')]" mode="APPEND" createParentDirectories="false">
			<file:content><![CDATA[#[output text/plain
---
write(attributes, 'application/json', {indent: false}) as String ++ '\n' ++  dw::core::Binaries::toBase64(payload as Binary) ++ '\n']]]></file:content>
		</file:write>
		<choice doc:name="Choice" doc:id="569c91b1-0f46-418d-a862-2419b2493558" >
			<when expression="#[attributes.relativePath endsWith '/traces']">
				<flow-ref doc:name="putTraceToVmQueueFlow" doc:id="78ff43ee-38f1-4918-911a-1ae6276addaa" name="putTraceToVmQueueFlow"/>
			</when>
			<when expression="#[attributes.relativePath endsWith '/logs']">
				<flow-ref doc:name="putLogToVmQueueFlow" doc:id="2ba23003-5fdc-49c1-b86f-413a19aabcf7" name="putLogToVmQueueFlow"/>
			</when>
			<when expression="#[attributes.relativePath startsWith '/.debug/']">
				<flow-ref doc:name="debugFlow" doc:id="f1501ed4-3549-4325-9e9f-980230a6122f" name="debugFlow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="otherRequestFlow" doc:id="0c906409-a74a-40e0-8f5e-f055bcdd30ef" name="otherRequestFlow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="debugFlow" doc:id="f3222813-0ff2-46b6-9725-1c60f3fec73b" >
		<logger level="INFO" doc:name="flow begin" doc:id="fa2d381d-78b6-44fc-81b5-3d5c5656b8b0" message="#[{flowName: flow.name, requestPath: attributes.requestPath}]" category="myapp.flow.begin" />
		<choice doc:name="Choice" doc:id="c84dc45f-ef8c-4cb2-821f-ca6beccb5f45" >
			<when expression="#[attributes.relativePath == '/.debug/log']">
				<file:read doc:name="Read" doc:id="0fa09ad0-23d1-45a9-8be0-f58e2e359915" path="${myapp.httpreq.logfile}"/>
			</when>
			<otherwise >
				<file:list doc:name="List" doc:id="7e5c161b-db03-4dc4-82ed-4db5900f19c4" directoryPath="./"/>
				<set-payload value="#[output application/json indent=false --- payload map $.attributes]" doc:name="Set Payload" doc:id="30c0697c-beeb-4045-ad03-857e65090a3f" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="flow end" doc:id="59674d59-3f6c-4ceb-b0d2-78f5f8d067bf" message="#[{flowName: flow.name}]" category="myapp.flow.end" />
	</flow>
	<flow name="otherRequestFlow" doc:id="37d88fda-ffb8-4198-a76b-6fcd57a7a49a" >
		<logger level="INFO" doc:name="flow begin" doc:id="6538613b-a782-4ac5-a40c-2e4c922255fc" message="#[{flowName: flow.name, requestPath: attributes.requestPath}]" category="myapp.flow.begin" />
		<logger level="INFO" doc:name="flow end" doc:id="ec3bc4f4-bc0c-495b-92f6-152cf552a875" message="#[{flowName: flow.name}]" category="myapp.flow.end" />
	</flow>
</mule>
