study-mule-opentelemetry-70-app/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="mainFlow" doc:id="77f82ca2-6584-4aa0-8411-42ee092086f0" >
		<http:listener doc:name="Listener" doc:id="dc65ce73-472e-4632-ab74-33ea744528ea" config-ref="HTTP_Listener_config" path="/*" outputMimeType="application/octet-stream"/>
		<choice doc:name="Choice" doc:id="569c91b1-0f46-418d-a862-2419b2493558" >
			<when expression="#[attributes.relativePath startsWith '/.debug/']">
				<flow-ref doc:name="debugFlow" doc:id="f1501ed4-3549-4325-9e9f-980230a6122f" name="debugFlow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="write HttpReqLogFile" doc:id="0c906409-a74a-40e0-8f5e-f055bcdd30ef" name="writeHttpReqLogFileFlow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="writeHttpReqLogFileFlow" doc:id="81e40361-0f40-4a30-a2c8-7eaa0efc858d" maxConcurrency="1">
		<logger level="INFO" doc:name="Logger" doc:id="d11ba71a-e750-4bd0-b37d-8b59083f60f7" message="#[output application/json indent=false --- {&quot;user.dir&quot;: dw::Runtime::prop('user.dir'), 'myapp.httpreq.logfile': Mule::p('myapp.httpreq.logfile')}]"/>
		<file:write doc:name="Write" doc:id="93eeff33-350d-4bd9-9094-509ffa981906" path="#[(dw::Runtime::prop('user.dir') as String ) ++ '/' ++ Mule::p('myapp.httpreq.logfile')]" mode="APPEND">
			<file:content ><![CDATA[#[output text/plain
---
write(attributes, 'application/json', {indent: false}) as String ++ '\n' ++  dw::core::Binaries::toBase64(payload) ++ '\n']]]></file:content>
		</file:write>
	</flow>
	<flow name="debugFlow" doc:id="f3222813-0ff2-46b6-9725-1c60f3fec73b" >
		<choice doc:name="Choice" doc:id="c84dc45f-ef8c-4cb2-821f-ca6beccb5f45" >
			<when expression="#[attributes.relativePath == '/.debug/log']">
				<file:read doc:name="Read" doc:id="0fa09ad0-23d1-45a9-8be0-f58e2e359915" path="${myapp.httpreq.logfile}"/>
			</when>
			<otherwise >
				<file:list doc:name="List" doc:id="7e5c161b-db03-4dc4-82ed-4db5900f19c4" directoryPath="./"/>
				<set-payload value="#[output application/json indent=false --- payload map $.attributes]" doc:name="Set Payload" doc:id="30c0697c-beeb-4045-ad03-857e65090a3f" />
			</otherwise>
		</choice>
	</flow>
</mule>
