src/main/mule/log-to-s3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<flow name="log-to-s3Flow" doc:id="c5a75f58-eaa9-49e1-a7a4-2543df3e920f" >
		<file:listener doc:name="On New or Updated File" doc:id="7ee3c0a4-c7ba-452a-8ef4-8a1941d199b8" recursive="false" directory="${mule.home}/logs">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
			<file:matcher filenamePattern='??_${MULE_APP}_*.log' />
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9e237d2d-b0dc-4629-b846-1bb98a3b4f5a" category="myapp.debug.file-polling" message="#[output application/json --- attributes]"/>
		<set-variable value="#[attributes]" doc:name="logFileAttr" doc:id="b664a368-fd70-4d96-bd05-dc285f536013" variableName="logFileAttr"/>
		<set-variable value='#[import dw::core::Strings&#10;var logFileType = Strings::first(vars.logFileAttr.fileName, 2) &#10;var logFileDate = vars.logFileAttr.fileName as String Strings::substringAfterLast("_") Strings::first(10)&#10;var replicaId =  dw::System::envVar("POD_NAME") default "-@@@@@" Strings::substringAfterLast("-") &#10;var logFileName = vars.logFileAttr.fileName as String replace /.log$/ with("_" ++ replicaId ++ ".log")&#10;---&#10;[logFileType, app.name as String, logFileDate, replicaId, logFileName] joinBy "/"]' doc:name="s3ObjectKey" doc:id="88569e6d-ded4-4116-aa3b-16af042cc8a5" variableName="s3ObjectKey"/>
		<logger level="INFO" doc:name="s3ObjectKey" doc:id="335d5a94-4172-4b2e-882b-6c60f51c180d" message="#[output application/json --- {s3ObjectKey: vars.s3ObjectKey}]"/>
		<s3:put-object doc:name="Put Object" doc:id="47ee87a5-9377-43ed-bf1c-6eada9ee28ae" config-ref="Amazon_S3_Config" key='#[vars.s3ObjectKey]' bucketName="${myapp.loggins.s3-bucket-name}" contentLength="#[sizeOf(payload.^raw)]"/>
		<file:delete doc:name="Delete" doc:id="84795fb1-e01a-407b-902a-6e9ed8622abc" path="#[vars.logFileAttr.path]"/>
	</flow>
</mule>
