study-mule-opentelemetry-04-app/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mainFlow" doc:id="daa8ff6c-ba23-469a-9369-f7d953010a0a" >
		<http:listener doc:name="Listener" doc:id="a960552a-0bf0-4f3a-92aa-b4c5faf6d157" config-ref="HTTP_Listener_config" path="${myapp.basePath}/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="f138128a-fbe5-4e83-b3ba-12e8b41b8899" message="#[output application/json --- attributes]" category="myapp.flow.main"/>
	</flow>
	<flow name="sendMailFlow" doc:id="eeeb035b-b628-4056-a042-9eb224537b6b" >
		<http:listener doc:name="Listener" doc:id="fb4b5bef-bae8-42be-ba03-1e69b3dbcd48" config-ref="HTTP_Listener_config" path="${myapp.basePath}/send-mail"/>
		<logger level="INFO" doc:name="Logger" doc:id="988dc1a0-ce7e-4842-a4b7-4c000048c498" message="#[output application/json --- attributes]" category="myapp.flow.main"/>
	</flow>
</mule>
