study-mule-maven-build-with-exchange/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="mainFlow" doc:id="3974682a-e8a0-467f-b4ad-7cea78ff8f36" >
		<scheduler doc:name="Scheduler" doc:id="b7cd280c-edff-43e6-9e61-831ef08ba5a4" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="088fb36f-8375-470a-b25f-99917064f16c" message='#["Hello world!! " ++ (now() &gt;&gt; "Asia/Tokyo") as String]'/>
	</flow>
</mule>
